.earth-div {
  width: 250px;

  /* position: fixed; */
  /* top: 0; */
}
.earth-circle {
  position:absolute;
  width:250px;
  height:250px;
  background:transparent;
  border-radius:100%;
  border:1px solid #999;
}