.sun-div {
  /* width: 6px;
  height: 6px;
  background: #cc0000; */
  border: 0 none transparent;
  border-radius: 100%;
  position: absolute;
  top: 49%;
  left: 45%;
  margin-top: -3px;
  margin-left: -3px;
}
