body {
	/* background-size: 15vw;
  animation: space 100s infinite linear; */

	/* margin: 0 auto; */
}

.App {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	border: 1px solid red;
	position: relative;
}
.space-div::after {
	content: "";
	background: url("https://s3.us-east-2.amazonaws.com/solarsystem/black-star-background-1024x768.jpg");
	background-size: 15vw;
	/* background-position: center top; */
	position: absolute;
	z-index: -1000;
	top: -300%;
	left: -300%;
	/* bottom: 0; */
	/* right: 0; */
	overflow: visible;
	width: 1000vw;
	height: 1000vh;
	text-align: center;
	transform: scale(10);

	animation: space 1000s infinite linear;
}
@keyframes space {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.outer-div {
	width: 100%;
	height: 100%;
	display: flex;
}

.sun img,
.earth img,
.mars img,
.venus img,
.mercury img {
	height: 200px;
	/* width: 200px; */
}

.earth-div {
	width: 250px;
	border: solid 1px pink;
	/* position: fixed; */
	/* top: 0; */
}
.mars-div {
	width: 250px;
	border: solid 1px pink;
	/* position: absolute; */
}
.mercury-div {
	width: 250px;
	border: solid 1px pink;
	/* position: absolute; */
	/* top: 100; */
	/* right: 50; */
}
.venus-div {
	width: 250px;
	border: solid 1px pink;
	/* position: absolute; */
}
